.about-hero {
  position: relative;
  width: 100vw;
  height: 125svh;
  overflow: hidden;
  background-color: var(--bg);
}

.about-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-hero .container {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-hero .container h1 {
  font-size: 10vw;
  width: 70%;
}

.about-tagline {
  display: flex;
  gap: 2em;
  width: 75%;
}

.about-tagline .col:nth-child(1) {
  flex: 6;
}

.about-tagline .col:nth-child(2) {
  flex: 2;
}

.about-copy {
  position: relative;
  width: 100vw;
  padding: 8em 0;
}

.about-copy .container {
  width: 50%;
  margin: 0 auto;
}

.about-copy-wrapper {
  margin-top: 2em;
}

.about-copy-img {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.about-copy-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-copy-img-wrapper img {
  position: absolute;
}

.about-copy h2 {
  font-family: "dh";
}

.about-copy p {
  margin-bottom: 2em;
}

section.expertise {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100svh;
}

.expertise-header {
  position: absolute;
  padding-top: 4em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  will-change: transform;
}

.expertise-header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expertise-header .row {
  display: flex;
  justify-content: space-between;
}

.expertise-img-1 {
  position: relative;
  width: 15%;
  overflow: hidden;
}

.expertise-img-2 {
  width: 30%;
}

.services {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 5.5em 0 1em 0;
  will-change: transform;
}

.services .col {
  flex: 1;
}

.service h3 {
  margin-bottom: 0.5em;
}

.service h2 {
  margin-bottom: 0.5em;
  font-family: "dh";
}

.service:not(:last-child) {
  margin-bottom: 8em;
}

.about-outro-banner {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  margin: 8em 0 0 0;
  background-color: var(--bg);
}

.about-outro-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.founder-voice {
  position: relative;
  width: 100vw;
  padding: 8em 0;
}

.founder-voice .container {
  width: 50%;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.125);
}

.founder-voice .container h2 {
  margin-bottom: 3em;
}

.founder-image {
  width: 200px;
  margin-bottom: 20px;
}

.client-logos {
  position: relative;
  width: 100%;
  padding: 6em 0;
  background-color: var(--bg);
  overflow-x: hidden;
}

.client-logos .container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.logos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.logo-item {
  aspect-ratio: 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  box-sizing: border-box;
}

.logo-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.logo-details p:nth-child(1) {
  font-size: 20px;
}

.logo-item img {
  width: 20%;
  height: auto;
  object-fit: contain;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .about-hero {
    height: 100svh;
  }

  .about-hero .container h1 {
    width: 80%;
    font-size: 15vw;
  }

  .about-tagline {
    position: relative;
    top: 0rem;
    width: 100vw;
    flex-direction: column;
    gap: 1em;
  }

  .about-copy .container {
    width: 100%;
  }

  .expertise-header .container {
    justify-content: flex-start;
    gap: 2em;
  }

  .expertise-img-1 {
    display: none;
  }

  .expertise-img-2 {
    width: 100%;
  }

  .services {
    width: 100%;
    padding: 70vh 20px 4em 20px;
  }

  .service:not(:last-child) {
    margin-bottom: 4em;
  }

  .services .col:nth-child(1) {
    display: none;
  }

  .founder-voice .container {
    width: 95%;
  }

  .client-logos .container {
    width: 100%;
    padding: 0 20px;
  }

  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .logo-details {
    padding: 0 10px;
    justify-content: center;
  }

  .logo-details p:nth-child(1) {
    display: none;
  }

  .logo-item {
    aspect-ratio: 1;
    padding: 1em 0;
  }
}
