@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap");

:root {
  --base-100: rgb(242, 237, 230);
  --base-200: rgb(204, 200, 194);
  --base-250: rgb(179, 167, 152);
  --base-300: rgb(153, 143, 130);
  --base-350: rgb(128, 119, 108);
  --base-400: rgb(102, 95, 86);
  --base-450: rgb(31, 29, 29);
  --base-500: rgb(20, 19, 19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #0d0c0c;
}

section,
.footer {
  background-color: var(--base-500);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.25rem;
  line-height: 1.05;
}

h2 {
  font-size: 3.5rem;
  font-weight: 550;
  letter-spacing: -0.15rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.075rem;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

p.md {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

p.lg {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

p.mono {
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

p.md.mono {
  font-size: 1rem;
}

p.lg.mono {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--base-200);
  border-radius: 0.35rem;
}

span.spacer {
  display: inline-block;
  width: 20rem;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
  }

  .container {
    padding: 1rem;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

body.menu-open * {
  pointer-events: none;
}

body.menu-open .menu,
body.menu-open .menu *,
body.menu-open .menu-toggle {
  pointer-events: auto;
}
