.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 100000;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--copy);
  transform: scaleX(0);
  transform-origin: left;
}

.index-hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-header {
  width: 65%;
  text-align: center;
}

.hero-header h1 {
  font-size: 10vw;
}

.hero-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .hero-header {
    width: 90%;
  }

  .hero-header h1 {
    font-size: 20vw;
  }
}
