.work-hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: var(--bg);
}

.work-hero .container {
  width: 50%;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.work-hero h1 {
  font-size: 15vw;
  text-align: center;
}

.work-hero p {
  width: 35%;
  margin: 0 auto;
}

.projects {
  position: relative;
  width: 100%;
  height: 100%;
}

.project {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.project-banner-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-banner-img img {
  position: absolute;
  will-change: transform, scale;
}

@media (max-width: 900px) {
  .work-hero .container {
    width: 75%;
    padding: 8em 0 4em 0;
  }

  .work-hero h1 {
    font-size: 20vw;
  }

  .work-hero p {
    width: 100%;
  }
}
